h1
{
	font-family:'¸¼Àº °íµñ';
	font-size:40px;
	color:#0000FF;
	background-color:#00FF00;
	margin-left:40px;
	
}

h2
{
	font-family:'¸¼Àº °íµñ';
	font-size:20px;
	color:#FFff00;
	background-color:#FF00FF;
	margin-left:40px;
}